<table class="table movietable">
  <tr>
    <td><h3>Details for {{company.name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Id</td>
    <td>{{ company._id }}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>{{ company.username }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ company.email }}</td>
  </tr>
  <tr>
    <td>Industry</td>
    <td>{{ company.company.industry }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{ company.company.address }}</td>
  </tr>
  <tr>
    <td>Salary</td>
    <td>{{ company.company.telephone }}</td>
  </tr>
  <tr>
    <td>Last update</td>
    <td>{{ company.company.updated_at }}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editCompany({id:company._id})">Edit</a>
</div>
